# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea/
*.iml
out
gen
acc_main/views/.ipynb_checkpoints/
acc_main/.ipynb_checkpoints/
.vscode/
